<section class="section">
    <div class="container">
        <div id="DataAnalysisToolsCarousel"
             class="carousel slide shadow-lg rounded-3 py-6 px-5"
             data-bs-ride="carousel">
            <div id="developer_challenges_indicator"
                 class="carousel-indicators">
            </div>

            <!-- All Carousel items are insert using js script -->
            <div id="developer-challenger-inner"
                 class="carousel-inner text-start"></div>


            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#DataAnalysisToolsCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#developerChallengesCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon"
                      aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>